@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Serif+Pro:wght@400;700;900&display=swap');

:root {
	/* Color */
	--colorWhite: #ffffff;
	--colorBlack: #000000;
	--colorPurpleCB: #532d6d;
	--colorPurpleCB-light: #77419b;
	--colorPurpleCB-light-secondary: hsla(276, 41%, 43%, 0.33);

	/* Typography */
	--primary-font: 'Open Sans', sans-serif;
	--display-font: 'Source Serif Pro', serif;
	--font-size: 1.4rem;

	/* Spacing */
	--space-1: 0.4rem;
	--space-2: 0.8rem;
	--space-3: 1.6rem;
	--space-4: 2.4rem;
	--space-5: 3.2rem;
	--space-6: 4rem;
	--space-7: 4.8rem;
	--space-8: 5.6rem;
	--space-9: 6.4rem;
}

/* Basic Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: var(--primary-font);
	font-size: 62.5%;
	/* 10px/16px = 62.5% -> 1rem = 10px */
}

/* Layout */
body {
	font-size: var(--font-size);
	line-height: 1.5;
	letter-spacing: -0.01em;
	background-color: var(--colorWhite);
	background-image: url(./Assets/images/pattern-randomized.svg);
}

.container {
	display: grid;
	place-content: start center;
	grid-template-rows: repeat(3);
	height: 100vh;
	width: 100vw;
}

nav {
	display: block;
	height: var(--space-3);
	margin-top: var(--space-7);
}

nav::before {
	border-bottom: 1px solid var(--colorBlack);
	content: '';
	display: block;
	width: 100%;
}

.logo {
	display: block;
	position: relative;
	top: -2.5rem;
	margin: 0 auto;
}

.card {
	display: grid;
	grid-template-rows: repeat(3);
	margin-top: var(--space-2);
	background: var(--colorWhite);
	border-radius: 0.5rem;
	width: 95vw;
	box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
	overflow: scroll;
	scrollbar-width: none;
}

@media screen and (min-width: 768px) {
	.card {
		width: 50vw;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		width: 35vw;
	}
}

@media screen and (min-width: 1366px) {
	.card {
		width: 25vw;
	}
}

.heading {
	padding: 2rem;
	background: var(--colorPurpleCB);
}

h2 {
	font-family: var(--display-font);
	color: var(--colorPurpleCB);
	font-size: 1.5rem;
}

fieldset {
	color: var(--colorWhite);
	border: 1px solid var(--colorWhite);
	border-radius: 1rem;
	padding: 1rem;
}

fieldset span {
	font-family: var(--display-font);
	font-size: 2rem;
	font-weight: 700;
	padding: 0 0.5rem;
}

.result {
	padding: 2rem;
}

.goal {
	color: var(--colorBlack);
	border: 1px solid var(--colorBlack);
}

.goal:not(:first-child) {
	margin-top: 2rem;
}

input {
	width: 10rem;
}

table {
	width: 100%;
}

tr:not(:first-child) {
	margin-top: 1rem;
}

tr {
	display: flex;
	justify-content: space-between;
}

footer {
	display: flex;
	justify-content: space-between;
	margin-top: var(--space-3);
	margin-bottom: var(--space-3);
}

.btn {
	background: var(--colorPurpleCB);
	color: var(--colorWhite);
	border: hidden;
	border-radius: 5rem;
	text-decoration: none;
	padding: 1rem 2rem;
	font-size: 2rem;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0.1px 2.7px 6px rgba(0, 0, 0, 0.045),
		0.3px 6.5px 14.5px rgba(0, 0, 0, 0.065),
		0.6px 12.1px 27.3px rgba(0, 0, 0, 0.08),
		1.1px 21.7px 48.7px rgba(0, 0, 0, 0.095),
		2.1px 40.5px 91.1px rgba(0, 0, 0, 0.115), 5px 97px 218px rgba(0, 0, 0, 0.16);

	transition: transform 0.2s ease-in-out;
}

.btn:hover {
	background: var(--colorPurpleCB-light);
	transform: translateY(-0.4rem);
}

.btn-reset {
	background: transparent;
	color: var(--colorBlack);
	border: 1px solid var(--colorBlack);
}

.btn-reset:hover {
	background: var(--colorPurpleCB-light-secondary);
}
